# Created by https://www.gitignore.io/api/node,sublimetext

### Node ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# Documentation
docs

# secret keyz
.env

# VS Code
launch.json
jsconfig.json

# Your worst ennemy
.DS_Store

# Babel build
dist